*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}


body{
	background: #FFDEF8;	
}

#footer{
	background-color: #9EEAE2;
	color:black;
	clear: both;
	text-align: center;
	padding: 5px;
}

#titulo{
	font-size: 40px;
	text-align: center;
}

#referencias{
	font-size: 20px;
}

.botones{
	width: 100%;
	background: #E6CEED;
	border: none;
	padding: 12px;
	color:black;
	margin:16px 0;
	font-size:16px;
}

invalid {
border: 2px solid #ff0000;
}


.form-registro{
	width:500px;
	background:#9EEAE2;
	padding:30px;
	margin:auto;
	margin-top:50px;
	margin-bottom: 40px;
	border-radius: 4px;
	font-family:'calibri';
	color:black;
	box-shadow: 7px 13px 37px #000;
}

.form-registro h3{
	font-size:40px;
	margin-bottom:20px;
	font-family:'calibri';
}

.form-control{
	width: 100%;
	background: #9EEAE2;
	padding:10px;
	border-radius: 4px;
	margin-bottom: 16px;
	font-family: 'calibri';
	font-size: 18px;
	color: black;
}

.form-registro p {
	height: 40px;
	text-align: center;
	font-size: 18px;
}

.form-registro a {
	color: black;
	text-decoration: none;
}

.form-registro a:hover {
	color: black;
	text-decoration: underline;
}

.form-login p {
	height: 40px;
	text-align: center;
	font-size: 18px;
}

.form-login a {
	color: black;
	text-decoration: none;
}

.form-login a:hover {
	color: black;
	text-decoration: underline;
}

.form-login h3{
	font-size:40px;
	margin-bottom:20px;
	font-family:'calibri';
}

.form-login{
	width:400px;
	background:#9EEAE2;
	padding:30px;
	margin:auto;
	margin-top:50px;
	margin-bottom: 40px;
	border-radius: 4px;
	font-family:'calibri';
	color:black;
	box-shadow: 7px 13px 37px #000;
}

.form-contenido{
	width:1000px;
	background:#9EEAE2;
	padding:30px;
	margin:auto;
	margin-top:50px;
	margin-bottom: 40px;
	border-radius: 4px;
	font-family:'calibri';
	line-height: 1.5em;
	font-size: 18px;
	color:black;
	box-shadow: 7px 13px 37px #000;
}

.form-contenido #resumen{
	padding:30px;
}

.form-contacto{
	width:1000px;
	height: 700px;
	background:#9EEAE2;
	padding:30px;
	margin:auto;
	margin-top:50px;
	margin-bottom: 40px;
	border-radius: 4px;
	font-family:'calibri';
	line-height: 1.5em;
	font-size: 18px;
	color:black;
	box-shadow: 7px 13px 37px #000;
}

.form-contacto #imagen{
	height:500px;
    padding:10px;
    width:350px;
    float: left;
    background:#9EEAE2;
}

.form-contacto #contact{
	float: left;
	height:500px;
    padding:10px;
    width: 550px;
    background:#9EEAE2;
}

.form-galeria{
	width:1000px;
	background:#9EEAE2;
	padding:30px;
	margin:auto;
	margin-top:50px;
	margin-bottom: 40px;
	border-radius: 4px;
	font-size: 18px;
	color:black;
	box-shadow: 7px 13px 37px #000;
}


